.toggler {
  margin: 0 2rem;

  &__box {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-white);
  }

  &__input {
    position: relative;
    top: 0.5rem;
    -webkit-appearance: none;
    appearance: none;
    width: 4.4rem;
    height: 2.55rem;
    border-radius: 1.5rem;
    background: transparent;
    cursor: pointer;
    border: 0.2rem solid var(--color-white);

    @include transition(0.4s);

    &::before {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 0.3rem;
      left: 7%;
      background-color: var(--color-white);

      @include transition(0.4s);
    }

    &:checked::before {
      left: 55%;
    }

    &:focus {
      outline: none;
    }
  }
}
