.collapsible {
    position: relative;

    text-align: center;

    transition: all 0.4s ease-in;

    &--settings {
        max-width: 78vw;
        margin: 0 auto;

        @include respond(_920-960) {
            max-width: 82vw;
        }
        
        @include respond(_600-640) {
            max-width: 90vw;
        }

        @include respond(_440-480) {
            max-width: 95vw;
        }
    }

    &__title {
        display: inline-block;
        
        &--level-one {
            font-size: 3.2rem;
            // font-size: 2.5rem;

            @include respond(_640-680) {
                font-size: 5rem;
                // font-size: 4rem;
            }
        }
        
        &--level-two {
            font-size: 2.5rem;

            @include respond(_640-680) {
                font-size: 4rem;
                // font-size: 3.2rem;
            }
        }
        
        &--level-three {
            font-size: 2rem;

            @include respond(_640-680) {
                font-size: 3.2rem;
            }
        }
        
        &--level-four {
            font-size: 1.6rem;

            @include respond(_640-680) {
                font-size: 2.7rem;
            }
        }
    }

    &__btn {
        display: none;

        &:checked ~ .collapsible__icon-box {
            transform: rotate(180deg);
        }

        &:checked ~ .collapsible__part {
            opacity: 1;
            height: auto;
        }
    }

    &__icon {
        height: 4rem;
        width: 4rem;
        
        @include respond(_640-680) {
            height: 12rem;
            width: 12rem;
        }

        &-box {
            display: inline-block;
            position: absolute;
            right: 25rem;
            top: 1rem;
            // top: 1.5rem;
            height: 3rem;
            width: 3rem;
            fill: var(--color-white);
            cursor: pointer;

            transition: all 0.4s ease;

                    
            @include respond(_640-680) {
                height: 7rem;
                width: 7rem;
            }
        }
    }

    &__part {
        opacity: 0;
        height: 0;
        overflow: hidden;

        transition: all 0.8s ease;
    }
}
