.zero {
    color: var(--color-white);
    fill: var(--color-white);
    border-color: var(--color-white);
}

.one {
    color: var(--color-one);
    fill: var(--color-one);
    border-color: var(--color-one);
}

.two {
    color: var(--color-two);
    fill: var(--color-two);
    border-color: var(--color-two);
}

.three {
    color: var(--color-three);
    fill: var(--color-three);
    border-color: var(--color-three);
}

.four {
    color: var(--color-four);
    fill: var(--color-four);
    border-color: var(--color-four);
}

.five {
    color: var(--color-five);
    fill: var(--color-five);
    border-color: var(--color-five);
}

.six {
    color: var(--color-six);
    fill: var(--color-six);
    border-color: var(--color-six);
}

.seven {
    color: var(--color-seven);
    fill: var(--color-seven);
    border-color: var(--color-seven);
}

.eight {
    color: var(--color-eight);
    fill: var(--color-eight);
    border-color: var(--color-eight);
}

.nine {
    color: var(--color-nine);
    fill: var(--color-nine);
    border-color: var(--color-nine);
}

.ten {
    color: var(--color-ten);
    fill: var(--color-ten);
    border-color: var(--color-ten);
}

.white {
    color: var(--color-white);
    fill: var(--color-white);
    border-color: var(--color-white);
}

.red {
    color: var(--color-red);
    fill: var(--color-red);
    border-color: var(--color-red);
}