.zero {
    // color: #565656;
    // fill: #565656;
    // border-color: #565656;
    color: var(--color-white);
    fill: var(--color-white);
    border-color: var(--color-white);
}

.one {
    // color: #565656;
    // fill: #565656;
    // border-color: #565656;
    color: var(--color-one);
    fill: var(--color-one);
    border-color: var(--color-one);
}

.two {
    color: var(--color-two);
    fill: var(--color-two);
    border-color: var(--color-two);
}

.three {
    // color: #f10f0f;
    // fill: #f10f0f;
    color: var(--color-three);
    fill: var(--color-three);
    border-color: var(--color-three);
}

.four {
    // color: #59ff3c;
    // fill: #59ff3c;
    // border-color: #59ff3c;
    color: var(--color-four);
    fill: var(--color-four);
    border-color: var(--color-four);
}

.five {
    // color: #00dd88;
    // fill: #00dd88;
    color: var(--color-five);
    fill: var(--color-five);
    border-color: var(--color-five);
}

.six {
    // color: #00d9ff;
    // fill: #00d9ff;
    // border-color: #00d9ff;
    color: var(--color-six);
    fill: var(--color-six);
    border-color: var(--color-six);
}

.seven {
    // color: #4400ff;
    // fill: #4400ff;
    color: var(--color-seven);
    fill: var(--color-seven);
    border-color: var(--color-seven);
}

.eight {
    // color: #ae00ff;
    // fill: #ae00ff;
    color: var(--color-eight);
    fill: var(--color-eight);
    border-color: var(--color-eight);
}

.nine {
    // color: #f56709;
    // fill: #f56709;
    // border-color: #f56709;
    color: var(--color-nine);
    fill: var(--color-nine);
    border-color: var(--color-nine);
}

.ten {
    // color: #00ffff;
    // fill: #00ffff;
    color: var(--color-ten);
    fill: var(--color-ten);
    border-color: var(--color-ten);
}

.white {
    color: var(--color-white);
    fill: var(--color-white);
    border-color: var(--color-white);
}