.footer {

    margin-top: auto;
    
    &__credentials {
        margin: 0 auto;
        color: var(--color-white);
        font-size: $footer-font-size-main;
        text-align: right;
    }

    &__icon {
        line-height: 100%;
        width: 2.8rem;
        height: $footer-font-size-main;
        vertical-align: middle;
    }
}