.footer {

    margin-top: auto;
    // font-size: $footer-font-size-main;

    
    &__credentials {
        margin: 0 auto;
        color: var(--color-white);
        text-align: right;
        font-size: $footer-font-size-main;

        // display: flex;
        // align-items: center;
        // justify-content: end;
        
        @include respond(_640-680) {
            font-size: $footer-font-size-mobile;
        }
    }

    &__icon {
        line-height: 100%;
        width: 2.8rem;
        vertical-align: middle;
        height: $footer-font-size-main;

        // display: flex;
        // align-items: center;
        
        @include respond(_640-680) {
            height: $footer-font-size-mobile;
            width: 7rem;
            font-size: $footer-font-size-mobile;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--color-white);
    }
}