.fraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; // space-evenly;

  &__sign {
    display: flex;
    height: 5.5rem;
    margin: auto 0.5rem;
    align-items: center;

    &--interim {
      margin: auto 0;
    }
  }

  &__delimeter {
    border: 1px solid;
    width: 100%;
  }

  &__interim {
    display: flex;
  }

  &__input {
    font-family: inherit;
    width: $main-fraction-default-dimention;
    line-height: 6.5rem;
    margin: 3px;

    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 1rem;
    border-color: var(--color-white);
    text-align: center;
    font-size: inherit;
    color: var(--color-white);
    caret-color: var(--color-white);

    &:disabled {
      border-color: var(--color-white-50);
    }

    @include respond(_640-680) {
      // @include respond(_600-640) {
      width: 10rem;
      line-height: 8rem;
    }

    &--invalid {
      color: var(--color-red);
    }

    &-box {
      display: flex;
      align-items: center;
    }

    &--slim {
      width: $main-fraction-slim-dimention;
    }

    @include respond(_360-400) {
      border-width: 0.5px;
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:not(:placeholder-shown),
    &:-webkit-autofill {
      border-color: transparent;
    }
  }
}
