.header {
    margin: 0 auto;
    width: 75vw;
    text-align: center;
    color: var(--color-white);

    @include respond(_640-680) {
        margin-top: 3rem;
        width: 95vw;
    }

    &--multiplication-tab {
        @include respond(_640-680) {
            margin-bottom: 5rem;
        }        
    }

    &__title {
        font-size: 5rem;
        font-weight: 900;
        // margin: 1rem 0;
        // padding: 1rem 0;

        @include respond(_640-680) {
            font-size: 7rem;
        }

        &--small {
            font-size: 2.2rem;
            
            @include respond(_640-680) {
                font-size: 3.8rem;
            }
        }
    }

    &__hr {
        width: 60%;
        margin: .5rem auto;
    }
}