.problems {
  margin: 0 auto;
  // width: 95%;
  // width: 110%;
  text-align: center;
  // padding: 1rem;

  @include respond(_640-680) {
    width: 95vw;
  }

  @include respond(_400-440) {
    font-size: 4rem;
  }
}

.problem {
  margin: auto 1rem;
  font-size: 4.4rem;

  // @include respond(_1100-1200) {
  //   // @include respond(_680-720) {
  //   font-size: 5.5rem;
  // }

  @include respond(_640-680) {
    // @include respond(_600-640) {
    font-size: 11rem;
  }

  &--fraction {
    display: flex;
    justify-content: center;

    @include respond(_640-680) {
      // @include respond(_600-640) {
      font-size: 4.6rem;
    }
  }

  &__main {
    color: var(--color-white);
  }

  &__digit {
    text-align: center;
    vertical-align: middle;
    height: $main-digit-dimention;
    line-height: $main-digit-dimention;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    margin: 0.5rem 0;

    @include respond(_640-680) {
      flex-direction: column;
    }
  }

  &__sign {
    margin: auto 1rem;
  }

  &__input {
    font-family: inherit;
    line-height: 6rem;

    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    border-color: var(--color-white);
    text-align: center;
    font-size: inherit;
    color: var(--color-white);

    &:disabled {
      border-color: var(--color-white-50);
    }

    @include respond(_360-400) {
      border-width: 0.5px;
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:invalid {
      color: var(--color-red);
    }

    &:not(:placeholder-shown),
    &:-webkit-autofill {
      border-color: transparent;
    }

    &--invalid {
      color: var(--color-red);
    }
  }
}
