
.problems {
  margin: 0 auto;
  width: 90vw;
  text-align: center;
  // font-size: 1.6rem;
  // font-weight: 300;
  padding: 1rem;
  // padding: 1rem 10rem;
}

.problem {
  
  margin: auto 1rem;
  font-size: 5rem;

  @include respond(_600-640) {
    font-size: 8rem;
  }

  @include respond(_400-440) {
    font-size: 10rem;
  }
  
  @include respond(_320-360) {
    font-size: 12rem;
  }
  
  // @include respond(_0-320) {
  //   font-size: 15rem;
  // }
  
  &__main {
    color: var(--color-white);
  }
  
  &__digit {
    text-align: center;
    vertical-align: middle;
    // width: $main-digit-dimention;
    height: $main-digit-dimention;
    line-height: $main-digit-dimention;
    // font-size: 5rem;
  }
  
  &__row {
    display: flex;
    // align-items: flex-end;
    justify-content: space-around;

    @include respond(_600-640) {
      flex-direction: column;
    }
  }

  &__sign {
    margin: auto 1rem;
  }

  &__input {
    font-family: inherit;
    // width: calc(#{$main-cell-dimention} - (2 * #{$component-pad-horizontal}));
    line-height: 6rem;
    // border-radius: 5rem;

    // background-color: orangered;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    border-color: var(--color-white);
    // border-radius: 1rem;
    text-align: center;
    font-size: inherit;
    // font-size: 5rem;
    // width: 75%;
    color: var(--color-white);

    @include respond(_360-400) {
      border-width: .5px;
    }

    // &--hundreed {
    //   font-size: 3.5rem;

    //   @include respond(_480-520) {
    //     font-size: 2.8rem;
    //   }

    //   // @include respond(_320-360) {
    //   //     font-size: 2rem;
    //   // }

    // }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:invalid {
      color: var(--color-red);
      // border-right: 2px solid var(--color__accent);
    }

    // &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
      border-color: transparent;
    }

    // &-box {
    //   width: calc(#{$main-cell-dimention} - (2 * #{$component-pad-horizontal}));
    //   // padding: 0 1rem;
    // }
  }
}