.settings {

  max-width: 78vw;
  margin: 0 auto;
  
  text-align: center;

  @include respond(_920-960) {
      max-width: 82vw;
  }
  
  @include respond(_600-640) {
      max-width: 90vw;
  }

  @include respond(_440-480) {
      max-width: 95vw;
  }

  &__settings-group {
    color: var(--color-white);
    // border: 2px solid var(--color-white);
    // border-radius: .5rem;
    background-color: var(--color-background);

    min-width: 50vw;
    // width: 85vw;

    // max-height: 30vh;

    display: flex;
    flex-direction: column;

    // overflow-y: auto;


    // &:not(:last-child) {
    //   margin: 0 auto 1rem;
                         
    //   @include respond(_640-680) {
    //     margin: 0 auto;
    //   }
    // }
  }

  &__setting {
    margin: .5rem 0;
    // margin: .5rem;

    display: flex;
    justify-content: space-evenly;

    padding: .5rem;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
               
    @include respond(_640-680) {
      // flex-direction: column;
      border-radius: 1.5rem;
      padding: 2rem;
      justify-content: space-between;

      margin: 1.5rem 0;
    }
  }

  &__row--mobile {
    display: flex;
    justify-content: space-between;
    // justify-content: space-evenly;

    @include respond(_640-680) {
      flex-direction: column;
      order: 2;

      &:first-child {
        width: 75%;
      }
      &:last-child {
        justify-content: space-between;
      }
    }
  }

  &__control {
    display: flex;
    position: relative;
    margin: 0 1.3rem;

    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-background);
            
    @include respond(_640-680) {
      flex-direction: column;
      order: 2;
      margin: 0;

    }
    
    &--btns {
      @include respond(_640-680) {
        flex-direction: row;
        align-self: flex-end;
        order: 1;
        width: fit-content;
      }
    }

    &-btn {
      padding: 0 .7rem;

      font-size: 2.1rem;

      border-radius: 50%;

      width: fit-content;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      @include respond(_640-680) {
        padding: 0 1.5rem;
        font-size: 5.5rem;
      }

      @include respond(_400-440) {
        padding: 0 1.8rem;
        font-size: 7rem;
      }

      &:last-child {

        margin-left: .2rem;

        @include respond(_640-680) {
          margin-left: 2rem;
        }
  
        @include respond(_400-440) {
          margin-left: 3rem;
        }
      }
    }
  }

  &__label {
    margin-right: 1rem;

    display: flex;
    align-items: center;

    @include respond(_640-680) {
      align-self: flex-start;
      font-size: 2rem;
    }
  }

  &__select {
    display: inline-block;
    // width: 10rem;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-background);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include respond(_640-680) {
      font-size: 3.5rem;
      // font-size: 2.5rem;
    }
  
    @include respond(_400-440) {
      font-size: 4rem;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__option {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-background);

    @include respond(_640-680) {
      font-size: 3.5rem;
    }
      
    @include respond(_400-440) {
      font-size: 4rem;
    }
  }

  &__input {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);

    @include respond(_640-680) {
      width: 100%;
      font-size: 5rem;
      // font-size: 2.5rem;
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  &__go-btn {
    padding: 0 3rem;
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;

    margin: .5rem auto;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    @include respond(_640-680) {
      width: 75%;
      font-size: 5rem;
      border-radius: 1.5rem;
      
      line-height: 2;

      margin: 3rem auto;
    }
  }
}