.settings {

  &__settings-group {
    color: var(--color-white);
    // border: 2px solid var(--color-white);
    // border-radius: .5rem;
    background-color: var(--color-background);
    // margin-bottom: 1rem;

    // display: inline-block;
    min-width: 50vw;
    // width: 85vw;
    margin: 0 auto 1rem;
    // max-height: 30vh;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  &__line {
    margin: .5rem;
    // margin: .5rem 0;

    display: flex;

    padding: .5rem;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
  }

  &__control {
    display: flex;
    // display: inline-block;
    position: relative;
    margin: 0 1.3rem;

    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    // border: 2px solid var(--color-white);
    // border-radius: .5rem;
    background-color: var(--color-background);

    &-btn {
      padding: 0 .6rem;
      // font-family: inherit;
      font-size: 2.1rem;
      // font-weight: bold;
      // line-height: 1.5;
      margin-left: .2rem;

      border-radius: 50%;
    }
  }

  &__label {
    // font-size: 1.5rem;
    // font-weight: bold;
    margin-right: 1rem;
  }

  &__select {
    display: inline-block;
    // width: 10rem;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-background);

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__option {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-background);
  }

  &__input {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--color-white);
    border-radius: .5rem;
    text-align: center;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-white);

    @include respond(_360-400) {
      border-width: .5px;
    }

    &[type="number"] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  &__btn-group {

  }

  &__go-btn {
    // display: inline-block;
    // // height: 3rem;
    // // width: 10rem;
    // // margin-top: 1rem;
    padding: 0 3rem;
    font-family: inherit;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;

    // color: var(--color-white);
    // border: 2px solid var(--color-white);
    // border-radius: .5rem;
    // background-color: var(--color-background);
    // cursor: pointer;

    // &:active,
    // &:focus {
    //   outline: none;
    // }
  }
}