.tab {
    display: table;
    margin: 5rem auto;
    padding: 0 0.5rem;

    &__line {
        display: table-row;
        height: $main-cell-dimention;

        &--header {
            display: table-row;
            overflow: hidden;
            background-color: inherit;
            // border-bottom: 0.2rem solid #ffffff;
        }

        &--empty-stick {
            display: none;
        }
    }

    &__empty-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 2rem;

        padding: 6rem 0.2rem 0;
        // padding: 2.6rem .2rem 0;
        line-height: 2rem;
        font-size: 3rem;
        color: var(--color-white);
        font-family: sans-serif;

        // background-color: yellowgreen;

        &--head {
            color: transparent;
        }
    }

    &__heading-cell {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: $main-cell-dimention;
        height: $main-cell-dimention;
        line-height: $main-cell-dimention;
        font-size: 5rem;

        &--side {
            width: 6.5rem;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: auto;
    background-color: var(--color-background);
    // overflow:scroll;

    & + .tab__line--empty-stick {
        display: table-row;
    }
}
