//////////////////////////////////////////////////
//COLORS

//BROWN
$color-one: #5f5d57;
// $color-one: #504935;

//YELLOW
$color-two: #ffe600;
// $color-two: #c14509;
$color-two: #ffff00;

//RED
$color-three: #fd2115;

//GREEN-BLUE
$color-four: #46877e;

//DARK-BLUE
$color-five: #0400ff;

//LIGHT-BLUE
$color-six: #0a79fd;

//PURPLE
// $color-seven: #8f1b7b;
$color-seven: #9600bb;

//PINK
$color-eight: #ff00aa;

//DARK-RED
$color-nine: #590504;

//YELLOW
// $color-ten: #ffe600;
// $color-ten: #c14509;
$color-ten: #ffff00;

$color-background: #ee8f66;
$color-background-85: rgba(238, 143, 102, 0.85);
// $color-background: #ff8600;
// $color-background: #f5be4d;
// $color-background: #d84f59;
// $color-background: #eca2f2;
// $color-background: #3d004c;
// $color-background: rgb(245, 190, 77);


$color-red: #ff0000;

$color-black: #000000;

$color-white: #ffffff;



$main-cell-dimention: 9rem;
$main-digit-dimention: 9rem;
$component-pad-horizontal: 1rem;
$component-pad-vertical: .5rem;

$footer-font-size-main: 1.6rem;